@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
// fonts
$alapfont:  'Oranienbaum', serif;
$alap2font: 'Life Savers', serif;



// colors
$royalblue: rgb(224, 125, 186);
$brown:rgb(93, 168, 194)
