header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 5px 10px 5px 20px;
}

nav {
  font-family: $alap2font;
  background-color: $royalblue;
  color: whitesmoke;
  list-style-type: none;
  overflow: hidden;

  li {
    float: left;
    width: 20%;

    a {
      align-items: center;
      background-color: $royalblue;
      color: whitesmoke;
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      width: 100%;

      &:hover:not(.active) {
        background-color:$brown;
      }
    }
  }
}

nav > li {
  display: none;
}

#tartalom {
  padding: 20px;

  h1,
  p {
    text-align: center;
  }
}

#chat,
#help,
#info {
  display: none;
}

.active {
  background-color: rgb(201, 151, 229);
}

img {
  width: 100%;
  padding: 10px;
  margin-right:auto;
  margin-left: auto;
}
td{
  display: block;
  text-align: center;
}

footer {
  text-align: center;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    background-color: white;
    margin-top: 10px;
    overflow: visible;

    li {
      float: none;
      width: 50%;

      a {
        justify-content: flex-start;
      }
      
    }
  }

  nav > li {
    display: block;
    width: 100%;
  }

  #rendes {
    display: none;
  }

  nav > li a:hover {
    background-color: $royalblue;
  }
}
